html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Parpadeo para admin */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.img-blink {
  animation: blink 0.4s ease-in-out 4 !important; /* 4 parpadeos */
}